<div class="evento-contenedor" *ngIf="eventoDetalles">
  <div class="evento-detalles">
      <h2>Detalles del Evento: {{ eventoDetalles.id }}</h2>
      <p><strong>Nombre:</strong> {{ eventoDetalles.nombre }}</p>
      <p><strong>Fecha:</strong> {{ eventoDetalles.fechaEvento }}</p>
      <p><strong>Descripción:</strong> {{ eventoDetalles.descripcion }}</p>
      <p><strong>Género:</strong> {{ eventoDetalles.genero }}</p>
      <p><strong>Precio mínimo:</strong> {{ eventoDetalles.precioMin }}</p>
      <p><strong>Precio máximo:</strong> {{ eventoDetalles.precioMax }}</p>
      <p><strong>Localidad:</strong> {{ eventoDetalles.localidad }}</p>
      <p><strong>Recinto:</strong> {{ eventoDetalles.recinto }}</p>
      <button (click)="volver()" class="btn btn-secondary mt-3">Volver a lista de Eventos</button>
  </div>
</div>

  