<div class="container mt-5">
  <h2>Modificar Evento</h2>
  <form [formGroup]="eventoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control" />
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <input type="text" id="descripcion" formControlName="descripcion" class="form-control" />
    </div>
    <div class="form-group">
      <label for="genero">Género:</label>
      <input type="text" id="genero" formControlName="genero" class="form-control" />
    </div>
    <div class="form-group">
      <label for="fechaEvento">Fecha del Evento:</label>
      <input type="date" id="fechaEvento" [attr.min]="minFecha" formControlName="fechaEvento" class="form-control" />
    </div>
    <div class="form-group">
      <label for="precioMin">Precio Mínimo:</label>
      <input type="number" id="precioMin" formControlName="precioMin" class="form-control" />
    </div>
    <div class="form-group">
      <label for="precioMax">Precio Máximo:</label>
      <input type="number" id="precioMax" formControlName="precioMax" class="form-control" />
    </div>
    <div class="form-group">
      <label for="localidad">Localidad:</label>
      <input type="text" id="localidad" formControlName="localidad" class="form-control" />
    </div>
    <div class="form-group">
      <label for="recinto">Recinto:</label>
      <input type="text" id="recinto" formControlName="recinto" class="form-control" />
    </div>
    <div class="d-flex justify-content-between mt-3">
      <button type="button" class="btn btn-secondary" (click)="volver()">
        Volver a Listado
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="!eventoForm.valid">
        Guardar Cambios
      </button>
    </div>
  </form>
</div>
